<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="bootstrap-4.3.1-dist/css/bootstrap.min.css" />
<link href="/table/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="/symphony/symphony-api.js" charset="utf-8"></script>
<script type="text/javascript" src="/table/tabulator.min.js"></script>
 
<script type="text/javascript" th:inline="javascript">

	// set the data from the template. 
	var tableData = /*[[${data}]]*/ [];

</script>

<script type="text/javascript" src="js/app.js" charset="utf-8"></script>
</head>
<body class="bg-light">

	<div class="box">
		<div class="box-row header">
			<div class="container-fluid" style="padding-top: 15px;">
				<div class="row">
				
					<div class="col col-12">
						<H3>TABLE EDITOR MM 4</H3>
					</div>
					
				</div>
			</div>
		</div>
		<div class="box-row content" style="position: relative; ">

			<div id="table" style="position: absolute; left: 14px; right: 14px;"></div>

		</div>
		<div class="box-row footer">
			<div style="height:12px"></div>
		</div>
	</div>

	<script>
		
	</script>
</body>
</html>